.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

.main-register {
  font-family: 'Times New Roman', Times, serif;
  /* height: 100vh; */
  max-width: 60%;
  border: 1px solid #DC143C;
  margin: auto;
  box-shadow: 0 0 15px rgb(134, 132, 132);
  margin-top: 50px;
}

/* .main-register::-webkit-scrollbar{
    width: 5px;
}
.main-register::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background: silver;
} */
.head {
  display: flex;
  justify-content: space-between;
}

.register-head {
  display: flex;
  justify-content: space-between;
  background-color: #DC143C;
  align-items: center;
}

.register-head-div1 {
  height: 100px;
  display: flex;
  align-items: center;
}


.img {
  background-color: #fff;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-left: 20px;
}

.register-head img {
  max-width: 70px;
  max-height: 70px;
  margin-top: 23px;
}

.register-head h1 {
  font-family: 'Times New Roman', Times, serif;
  color: #fff;
  margin-top: 15px;
  font-size: 22px;
  margin-bottom: 0;
}


.logo-name  {
  margin-left: 10px;
  margin-top: 25px;
  margin-bottom: 30px;
  color: #fff;
  font-size: x-large;
}



/* ----------------------Register Body Section----------------- */

.form-section {
  padding: 20px;
  color: black;
  background-color: #fff;
}

.form-section h2 {
  font-family: 'Times New Roman', Times, serif;
  border-bottom: 1px solid #fb90a5;
  padding-bottom: 0;
  margin-top: -25px;
  font-size: 30px;
}

.form-section label {
  font-size: 15px;
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="email"] {
  width: 95%;
  padding: 6px;
  margin-bottom: 20px;
  margin-top: 2px;
  outline: none;
  border: 1px solid #fb90a5;
  border-radius: 4px;
  /* border-bottom: 1px solid #928b8b; */
  text-align: start;
  font-size: 15px;
}

.full-name-input {
  display: flex;
  justify-content: space-between;
}

textarea {
  width: 98%;
  padding: 6px;
  margin-bottom: 20px;
  margin-top: 2px;
  outline: none;
  border: 1px solid #fb90a5;
  border-radius: 4px;
  /* border-bottom: 1px solid #928b8b; */
  text-align: start;
}

input[type="date"] {
  padding: 5px;
  width: 97%;
}

.form-div1 {
  display: flex;
  justify-content: space-between;

}

.form-div-sub {
  width: 100%;
}

.name {
  width: 31% !important;
}

.input-phone {
  width: 93% !important;
}

.d-o-b {
  width: 94% !important;
}




/* educational starts */


.form-section label{
  font-size: 15px;
}
select{
  width: 99%;
  padding: 6px;
  margin-bottom: 20px;
  outline: none;
  border: 1px solid #fb90a5;
  border-radius: 4px;
  /* border-bottom: 1px solid #928b8b; */
  text-align: start;
  font-size: 15px;
}
option{
  color: black;
}

.main-input{
  display: flex;
  justify-content: space-between;

}
.sub-input{
  width: 100%;
}
input[type = "text"]{
  width: 95%;
  padding: 6px;
  margin-bottom: 20px;
  outline: none;
  border: 1px solid #fb90a5;
  border-radius: 4px;
  /* border-bottom: 1px solid #928b8b; */
  text-align: start;
  font-size: 15px;
}

/*  declration starts */
.declare{
  display: flex;
  padding: 4PX;
}
#decl{
  padding: 3px 3px 0px 0px;
}
.form-section label{
  font-size: 15px;
}

.main-input{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.sub-input{
  width: 100%;
}
input[type = "text"]{
  width: 95%;
  padding: 6px;
  margin-bottom: 20px;
  outline: none;
  border: 1px solid #fb90a5;
  border-radius: 4px;
  /* border-bottom: 1px solid #928b8b; */
  text-align: start;
  font-size: 15px;
}
input[type="date"]{
  width: 97%;
  padding: 6px;
  margin-bottom: 20px;
  outline: none;
  border: 1px solid #fb90a5;
  border-radius: 4px;
  /* border-bottom: 1px solid #928b8b; */
  text-align: start;
  font-size: 15px;
}
.enclosures p{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
}
.enclosures ul{
  margin-top: 0;
  padding-left: 20px;
  color: rgb(97, 96, 96);
}
.upload{
  padding: 5px;
  display: flex;
  justify-content: space-between;

}
th{
text-align: left;
}
td{
  padding-left: 2px;
}